<!DOCTYPE html>
<html lang="es-ES">
<head>
  <title>Registro</title>
</head>
<body>
<h1>Registre un nuevo usuario</h1>

<form th:action="@{/register}" method="post">
  <div>
    <label for="username">Nombre de usuario:</label>
    <input type="text" id="username" name="username" required>
  </div>
  <div>
    <label for="password">Contraseña:</label>
    <input type="password" id="password" name="password" required>
  </div>
  <div>
    <label for="role">Rol:</label>
    <select id="role" name="role">
      <option value="MANAGER">Gestor</option>
      <option value="ADMIN">Administrador</option>
    </select>
  </div>
  <div>
    <button type="submit">Registrarse</button>
  </div>
</form>
</body>
</html>
